@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  min-height: calc(100% - 60px);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 2rem;
}

body::-webkit-scrollbar-track {
  background: $primary-color;
}

body::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

.trans {
  background: rgba($primary-color, $background-opacity);
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 9rem;
      right: 5vw;
      width: 90vw;
      height: 5px;
      z-index: 0;
      background: $secondary-color;
      display: none;
    }

    &#lg-home {
      &:after {
        top: 18rem;
      }
    }
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;

  &:hover {
    @include ease-out();
    color: $secondary-color;
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.testimonials {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr 3fr);
  align-content: center;
  justify-content: center;

  img {
    width: 100%;
    border: 2px solid $secondary-color;
  }

  p {
    margin-top: 0;
  }
}

.about-info {
  padding-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-img {
    grid-area: bioimage;
    margin: auto;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.7rem;
    border-bottom: $secondary-color 5px solid;

    h6 {
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }

    .secondary-text {
      color: $secondary-color;
    }
  }
}

.underline {
  width: 60%;
  height: 3px;
  background-color: $secondary-color;
}

.lg-underline {
  width: 90%;
  height: 5px;
  background-color: $secondary-color;
}

.overview {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 3fr 7fr;
}
// Work and Projects
.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.8;
      border-color: $secondary-color;
      @include ease-out();
    }
  }
}

.videos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat (2, 1fr);

  .vid-item {
    padding: 1rem 2rem;

    .vid-label {
      background: rgba(darken($primary-color, 10), 0.8);
      padding: 0.2rem 1rem;
      .secondary-text {
        color: $secondary-color;
      }
    }

    &:nth-child(6) {
      display: none;
    }
  }
}

// Contact Page Style
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 0.5rem 1.5rem;
    margin-bottom: 3rem;
    @include ease-out();

    &:hover {
      padding: 1.5rem 2rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.hlbtn {
  padding: 0.5rem 20px;
  height: 48px;
  vertical-align: middle;
  color: #fff;
  background: $secondary-color;
  border: none;
  border-radius: 1px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
    background-color: #fff;
    @include ease-out();
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text_color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: set-text_color($primary-color);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 30);
  color: set-text_color($primary-color);
}

.btn-disabled {
  @extend .btn;
  opacity: 0.4;
  color: set-text_color($primary-color);
}

.gap {
  height: 20px;

  &-top {
    height: 3rem;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background: none;
  color: set-text-color($primary-color);
  height: 60px;

  &#main-footer {
    background: darken($primary-color, 10);
  }
}

@import 'mobile';
